<div class="row">
  <div class="col-12">
    <p>It is almost the seventh year since green cabs hit the roads in New York City, however, the number of green cab drivers almost reaches the lowest point ever. Compared to the pinnacle in mid-2015, green cab loses more than half of its drivers. 
</p>
    <p>In the summer of 2013, apple green cabs were introduced to New Yorkers as boro taxis. As a new taxi category, the boro taxi aims to strengthen the taxi service outside the central Manhattan area to all of the five boroughs in New York City. To better serve these areas, green cabs are only allowed to pick up passengers in Manhattan above East 96th Street and above West 110th Street. This is the only major difference between green cabs and traditional yellow cabs. Both cabs share the same fare rate.</p>
    <img src="images/cabscomparison.jpg"></p>
    <p>Unlike App rides, cabs take either credit cards or cash. The flexible payment methods may be the highlight of green cabs. Based on data from 2018, nearly half of the passengers paid with cash, although credit cards still rank top on the payment methods. Fare, with no doubt, was another major factor that affects passenger’s choice. Green cab riders were more likely to take a ride when the per capita cost is under ten dollars. Only ten percent of the rides had a per capita cost over 40 dollars. 
</p>
    <iframe title="Green Taxi Ride Cost Per Passenger in 2018" aria-label="Interactive area chart" id="datawrapper-chart-h6gGa" src="//datawrapper.dwcdn.net/h6gGa/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="405"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
  </div>
</div>
