<div class="row">
  <div class="col-12">
    <p>With not much surprise, rush hours are the busies hours of a day for green taxis. However, New Yorkers seem to prefer cabbing back to home more than to work.Among the entire week, Saturday was the busiest day, closely followed by Friday, while Sunday was the quietest day of a week for green cab riders.</p>
  </div>
  <div class="col-9">

    <div id="line-chart"></div>

  </div>
  <div class="col-3 mt-4">
      <div id="aapl-info" style="display: none">
        <p><strong>Hour:</strong><br><span id="aapl-date"></span></p>
        <p><strong>Percent of Rides:</strong><br><span id="aapl-close"></span></p>
      </div>
  </div>
</div>
