<div class="row mt-3">
  <div class="col-12">
  <p>Spring and harsh winter were the two seasons that green cabs were most needed in the city. March was the month with most trips while November was with the least, slightly less than summer months. The best day for green cabs last year was Feb. 2nd, a cold but mostly sunny Friday. While the worst day of that year was Jan. 4th, a Thursday, when the city was hit by a blizzard. It was also a day around the New Year holiday. Data shows that holidays were usually the slowest days for green cabs. Christmas and Thanksgiving were some of the days with the least green cab rides. 
</p>
    {{!-- <div id="slope-graph"> --}}
<p>Despite the convenience of the taxi dispatching service, green cab passengers remain the tradition of street hailing. Only two percent of riders from last year used dispatched cabs.</p>
  </div>
</div>
